[submodule "vim/mustache"]
	path = vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/plugins/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/plugins/logstash.vim"]
	path = vim/bundle/logstash.vim
	url = https://github.com/robbles/logstash.vim.git
[submodule "vim/plugins/vim_cf3"]
	path = vim/bundle/vim_cf3
	url = https://github.com/neilhwatson/vim_cf3
[submodule "vim/plugins/ansible-vim"]
	path = vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/plugins/molokai"]
	path = vim/plugins/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/nagios.vim"]
	path = vim/bundle/nagios.vim
	url = https://github.com/crazy-canux/nagios.vim
[submodule "bin/mustache.sh"]
	path = bin/mustache.sh
	url = https://github.com/rcrowley/mustache.sh.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/bundle/vim-ft-go"]
	path = vim/bundle/vim-ft-go
	url = https://github.com/google/vim-ft-go.git
[submodule "vim/bundle/vim-terraform"]
	path = vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-packer"]
	path = vim/bundle/vim-packer
	url = https://github.com/hashivim/vim-packer.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
